.search-wrapper{
    margin-top: 25px;
}

.no-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100px;
}

.no-results .title{
    font-size: 22px;
    font-weight: 600;
}
Hızlı ve Öfkeli Hobbs ve Shaw
Hobbs and Shaw (Fast and Furious Spin-off)Hobbs and Shaw (Fast and Furious Spin-off)Hobbs and Shaw ya da bazılarının bildiği adı ile Fast and Furious Spin-off filminin kısa bir süre içinde çekimlerine başlanacağı, 2017 yılının Nisan ayında yayınlanan ‘’Fate of the Furius’’ filminin hemen ardına açıklanmıştı. Hatta ‘’Fate of the Furius’’ filminin fragmanında dahi bir ara filmden kareler örnek olarak verilmişti. Hobbs and Shaw Kadrosu Ne Alemde?2 Ağustons 2019 ylında yayınlanacak olan ve yönetmenliği David Leitch’in, senaryosunu ise Chris Morgan’ın üstlenmiş olduğu ve full film izle seçeneğinde izleme fırsatını elde edeceğimiz Hobbs and Shaw filminin oyuncu kadrosu da oldukça güçlü durumda. Bu sevilen oyuncular arasında elbette en başta Dwayne Johnson, Jason Statham ve Vanessa Kirby bulunmakta.Hobbs and Shaw Film İçeriğiFast and Furious filminin yan ürünü olan Hobbs and Shaw filmi Luke Hobbs ve Deckard Shaw adında iki karakter üzerine yoğunlaşacak. Filmde Luke Hobbs bir ulusal güvenlik ajanıdır ve hiç beklenmedik bir kişi ile yani Deckard Shaw ile iş birliği yapmak zorundadır. Hızlı ve Öfkeli Hobbs ve Shaw - Fast & Furious Presents Hobbs & Shaw
Süre: 135 dk
Tür: Aksiyon,Gerilim,Macera
Oyuncular: Dwayne Johnson, Idris Elba, Jason Statham, Vanessa Kirby
Yönetmen: David Leitch
Yapımı: 2019 Filmleri ABD,Japonya
Vizyon Tarihi: 2 Ağustos 2019
Senarist: Chris Morgan Gary Scott Thompson

<iframe width="1280" height="720" src="https://www.youtube.com/embed/Ktf-rvnVX0g" title="Hızlı ve Öfkeli Hobbs ve Shaw - Fragman (Türkçe Dublajlı)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>